altgraph==0.17.4
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
decorator==5.2.1
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
moviepy==2.2.1
numpy==2.3.0
packaging==25.0
pillow==11.2.1
proglog==0.1.12
pycparser==2.22
pyinstaller==6.14.1
pyinstaller-hooks-contrib==2025.5
python-dotenv==1.1.0
requests==2.32.4
setuptools==80.9.0
SpeechRecognition==3.14.3
srt==3.5.3
tqdm==4.67.1
typing_extensions==4.14.0
urllib3==2.5.0
vosk==0.3.45
websockets==15.0.1
